
nav {
  background: linear-gradient(to right, #bd2130, #bd2130);
  color: #FFF;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      ul {
          list-style: none;
          display: flex;
          justify-content: space-between;
          width: 20%;
          margin: 0;
          li  {
              cursor: pointer;
              font-size: 22px;
              color: white;
              text-decoration: none;

          }
      }
  }


}
button{
  color: white;
  background: #970715;
  border: 2px solid #810712;
  padding: 5px 10px;
  border-radius: 4px;
}
.header-padding{
 padding-bottom: 6rem;
}
