
nav {
  background: linear-gradient(to right, #0fcfdd, #235e5b);
  color: #FFF;
  .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      ul {
          list-style: none;
          display: flex;
          justify-content: space-between;
          width: 20%;
          margin: 0;
          li  {
              cursor: pointer;
              font-size: 22px;
              color: #FFF;
              text-decoration: none;

          }
      }
  }



}
button{
  color: white;
background: #235e5b;
border: 1px solid rgb(11, 235, 48);
}
